.projects {
  width: 88%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 0 140px;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}

@media (max-width: 768px) {
  .projects__grid {
    grid-template-columns: 1fr;
  }
}
