.menu {
    position: fixed;
    width: 80%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border-radius: 50px;
    padding: 15px;
    bottom:30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    background-color: var(--primary-color-hover);
    backdrop-filter: blur(10px);
}

.menu .item {
    padding: 3px;
    border-radius: 50px;
}

.menu .item.active {
    background-color: var(--primary-color);
    box-shadow: 
        0 0 6px 2px rgba(255, 255, 255, 0.2),
        0 0 12px 4px var(--primary-color);
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.menu svg {
    vertical-align: middle;
}